Repository Halium/halium-devices, pull requests merged in 2018-02, with the labels that each got.

#42 samsung: Use hardware and qcom-commmon from Halium org.
  manifests/samsung_herolte.xml
  manifests/samsung_hlte.xml
  manifests/samsung_hltechn.xml
  manifests/samsung_hltetmo.xml
  manifests/samsung_klte.xml
  manifests/samsung_kltechn.xml
  manifests/samsung_klteduos.xml
  manifests/samsung_kltedv.xml
  manifests/samsung_kltekdi.xml
  manifests/samsung_kltekor.xml
  manifests/samsung_kltespr.xml
  manifests/samsung_kltesprsports.xml
  manifests/samsung_kltetechnduo.xml
  manifests/samsung_klteusc.xml
  manifests/samsung_kltevzw.xml
Labels: manifests

#38 Automatically refresh vendor repository
  setup
Labels: scripting

#43 motorola-msm8916-common: Use kernel & device tree from Halium
  manifests/motorola_harpia.xml
  manifests/motorola_lux.xml
  manifests/motorola_merlin.xml
  manifests/motorola_osprey.xml
  manifests/motorola_surnia.xml
Labels: manifests

#48 Create motorola_titan.xml
  manifests/motorola_titan.xml
Labels: Halium-5.1, manifests

#49 Add Galaxy S4 T-Mobile [jfltetmo]
  manifests/samsung_jfltetmo.xml
Labels: Halium-7.1, manifests
