Repository Halium/halium-devices, pull requests merged in 2018-03, with the labels that each got.

#53 Add OnePlus 3 / 3T (oneplus3)
  manifests/oneplus_oneplus3.xml
Labels: Halium-7.1, manifests

#56 Add Samsung Galaxy S8+ (Exynos) (dream2lte)
  manifests/samsung_dream2lte.xml
Labels: Halium-7.1, manifests

#59 santoni: Updated manifest
  manifests/xiaomi_santoni.xml
Labels: Halium-7.1, manifests

#69 Setup: Unify coding style & more automation for common folders and fstab
  setup
Labels: Halium-5.1, scripting

#71 setup: Improve coding style
  setup
Labels: scripting

#78 Update chaozu manifest
  manifests/bq_chaozu.xml
Labels: Halium-7.1, manifests

#76 Add Moto G4/G4 Plus (athene)
  manifests/motorola_athene.xml
Labels: Halium-7.1, duplicate, manifests

#81 Create lge_gpad83-common.xml
  manifests/lge_v500.xml
Labels: Halium-7.1, manifests
